@{
    bool isAuthenticated = TempData["IsAuthenticated"] as bool? ?? false;
    var caminhoCompletoArquivoAtual = ".." + ViewContext.View.Path;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ls_ava_web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="@($"{caminhoCompletoArquivoAtual}.css")" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderSection("SemMenu", required: false)
            @if (!IsSectionDefined("SemMenu"))
            {
                <div class="containerMenu">
                    @await Html.PartialAsync("MenuLateral")
                </div>
            }
            @RenderSection("SemFooter", required: false)
            @if (!IsSectionDefined("SemFooter"))
            {
                <div class="containerMenu">
                    @await Html.PartialAsync("Footer")
                </div>
            }

            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
